.vscode
node_modules
build
coverage

cypress/results/*
cypress/reports/*
cypress/screenshots/*
cypress/videos/*

/.nyc_output

.prettierignore
.prettierrc.json
.firebase
firebase.json
cypress/fixtures/auth-user.tsx
cypress/fixtures/auth-user.tsx
