.global-page-title {
  font-size: 1em;
  color: var(--heading-style-color);
  display: inline-block;
}

/* Styles: for button */

.global-btn {
  background: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  color: var(--primary-style-color);
  border: 1px solid var(--primary-style-color);
  font-size: 1em;
}

/* Styles: for forms */

label {
  display: block;
  margin: 30px auto;
}

label span {
  display: block;
  margin-bottom: 10px;
}

input,
textarea {
  padding: 10px 10px;
  font-size: 1em;
  width: 100%;
  color: #5e5e5e;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: var(--primary-border-radius);
  box-sizing: border-box;
}

textarea {
  min-height: 150px;
}

.error {
  color: red;
  background: rgb(221, 127, 143);
  border: 1px solid red;
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0;
}

.button-fit-card {
  margin: 0px !important;
}
